body {
    background-color: rgb(138, 151, 105);
    display: table-cell;
    vertical-align: middle;
}

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

.player-score, .computer-score, .rounds{
    display: inline-block;
}